<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Song Details</title>

</head>
<body>
<!-- dynamically display data -->
<header>
    <input type="hidden" name="trackId" th:value="${trackId}">
    <input type="hidden" name="artistId" th:value="${artistId}">
   <h1 th:text="${song.title}">Song title</h1>
</header>
<section>
    <h2 th:text="${song.genre}">Genre</h2>
    <h2 th:text="${song.releaseYear}">Year</h2>
    <h2>Performers:</h2>
    <ul>
        <li th:each="artist : ${song.performers}" th:text="${artist.firstName}+ ' ' + ${artist.lastName}"></li>
    </ul>
</section>

</body>
</html>